function Main.main 1
push local 0
pop local 0
push local 0
call SquareGame.run 1
pop temp 0
push local 0
call SquareGame.dispose 1
pop temp 0
push constant 0
return
function Main.test 4
push local 0
not
if-goto ifF1
label ifT1
push local 0
pop local 2
push local 1
pop local 2
push local 3
push local 0
add
pop pointer 1
push local 1
pop that 0
goto ifEnd1
label ifF1
push local 0
pop local 0
push local 1
pop local 1
push local 0
push local 1
or
pop local 0
label ifEnd1
push constant 0
return
