function Square.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
call Square.draw 1
pop temp 0
push this 0
return
function Square.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Square.draw 0
push argument 0
pop pointer 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.erase 0
push argument 0
pop pointer 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.incSize 0
push argument 0
pop pointer 0
push this 0
not
if-goto ifF1
label ifT1
push pointer 0
call Square.erase 1
pop temp 0
push this 2
pop this 2
push pointer 0
call Square.draw 1
pop temp 0
goto ifEnd1
label ifF1
label ifEnd1
push constant 0
return
function Square.decSize 0
push argument 0
pop pointer 0
push this 2
not
if-goto ifF2
label ifT2
push pointer 0
call Square.erase 1
pop temp 0
push this 2
pop this 2
push pointer 0
call Square.draw 1
pop temp 0
goto ifEnd2
label ifF2
label ifEnd2
push constant 0
return
function Square.moveUp 0
push argument 0
pop pointer 0
push this 1
not
if-goto ifF3
label ifT3
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 1
pop this 1
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto ifEnd3
label ifF3
label ifEnd3
push constant 0
return
function Square.moveDown 0
push argument 0
pop pointer 0
push this 1
not
if-goto ifF4
label ifT4
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 1
pop this 1
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto ifEnd4
label ifF4
label ifEnd4
push constant 0
return
function Square.moveLeft 0
push argument 0
pop pointer 0
push this 0
not
if-goto ifF5
label ifT5
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 0
pop this 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto ifEnd5
label ifF5
label ifEnd5
push constant 0
return
function Square.moveRight 0
push argument 0
pop pointer 0
push this 0
not
if-goto ifF6
label ifT6
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 0
pop this 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto ifEnd6
label ifF6
label ifEnd6
push constant 0
return
