function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto ifF1
label ifT1
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto ifEnd1
label ifF1
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label ifEnd1
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto ifF2
label ifT2
push this 4
push this 5
add
pop this 4
goto ifEnd2
label ifF2
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto ifF3
label ifT3
push this 7
not
if-goto ifF4
label ifT4
push this 0
push constant 4
add
pop this 0
goto ifEnd4
label ifF4
push this 1
push constant 4
add
pop this 1
label ifEnd4
goto ifEnd3
label ifF3
push this 7
not
if-goto ifF5
label ifT5
push this 0
push constant 4
sub
pop this 0
goto ifEnd5
label ifF5
push this 1
push constant 4
sub
pop this 1
label ifEnd5
label ifEnd3
label ifEnd2
push this 8
not
if-goto ifF6
label ifT6
push this 7
not
if-goto ifF7
label ifT7
push this 1
push constant 4
add
pop this 1
goto ifEnd7
label ifF7
push this 0
push constant 4
add
pop this 0
label ifEnd7
goto ifEnd6
label ifF6
push this 7
not
if-goto ifF8
label ifT8
push this 1
push constant 4
sub
pop this 1
goto ifEnd8
label ifF8
push this 0
push constant 4
sub
pop this 0
label ifEnd8
label ifEnd6
push this 0
push this 10
gt
not
not
if-goto ifF9
label ifT9
push constant 1
pop this 14
push this 10
pop this 0
goto ifEnd9
label ifF9
label ifEnd9
push this 0
push this 11
lt
not
not
if-goto ifF10
label ifT10
push constant 2
pop this 14
push this 11
pop this 0
goto ifEnd10
label ifF10
label ifEnd10
push this 1
push this 12
gt
not
not
if-goto ifF11
label ifT11
push constant 3
pop this 14
push this 12
pop this 1
goto ifEnd11
label ifF11
label ifEnd11
push this 1
push this 13
lt
not
not
if-goto ifF12
label ifT12
push constant 4
pop this 14
push this 13
pop this 1
goto ifEnd12
label ifF12
label ifEnd12
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto ifF13
label ifT13
push constant 10
pop local 4
goto ifEnd13
label ifF13
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto ifF14
label ifT14
push constant 20
pop local 4
goto ifEnd14
label ifF14
push constant 5
pop local 4
label ifEnd14
label ifEnd13
push this 14
push constant 1
eq
not
if-goto ifF15
label ifT15
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto ifEnd15
label ifF15
push this 14
push constant 2
eq
not
if-goto ifF16
label ifT16
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto ifEnd16
label ifF16
push this 14
push constant 3
eq
not
if-goto ifF17
label ifT17
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto ifEnd17
label ifF17
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label ifEnd17
label ifEnd16
label ifEnd15
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
